

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="../res/vue.js"></script>
    <script src="./center.js"></script>
    <link rel="stylesheet" type="text/css" href="center.css">
</head>
<body>
    <div id="app">
        <div>
            <label>姓名：</label>
            <input v-model="findCondition.name">
            <label>性别：</label>
            <select v-model="findCondition.sex">
                <option selected>男</option>
                <option>女</option>
            </select>
            <label>岗位：</label>
            <input v-model="findCondition.postName">
        </div>
        <div>
            <label>入职时间</label>
            <input type="date" v-model="findCondition.t1">
            <input type="date" v-model="findCondition.t2">
            <label>薪资</label>
            <input v-model="findCondition.s1">
            <input v-model="findCondition.s2">
            <button class="newStu" @click.stop="find()">查询</button>
        </div>

        <table>
            <thead>
                <th>姓名</th>
                <th>年龄</th>
                <th>性别</th>
                <th>入职时间</th>
                <th>岗位类别</th>
                <th>薪水</th>
            </thead>
            <tbody v-for="item in workers">
                <th> {{ item.name }} </th>
                <th> {{item.age}} </th>
                <th> {{item.sex}} </th>
                <th> {{item.startingTime}} </th>
                <th> {{item.postName}} </th>
                <th> {{item.salary}} </th>
            </tbody>
        </table>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                workers: [],
                findCondition: {
                    'name': null,
                    'sex': null,
                    'postName': null,
                    't1': null,
                    't2': null,
                    's1': null,
                    's2': null
                },
                staff: {
                    id: null,
                    name: null,
                    age: null,
                    sex: null,
                    startingTime: null,
                    postName: null,
                    salary: null
                }
            },
            mounted() {
                this.find()
            },
            methods: {
                find() {
                    $.ajax({
                        type: 'GET',
                        url: 'http://localhost:8080/center/main',
                        data: {
                            'data': JSON.stringify(this.findCondition)
                        },
                        dataType: "json",
                        success: function (result) {
                            vm.workers = []
                            for (var i = 0; i < result.length; ++i) {
                                var staff = JSON.parse(result[i]);
                                vm.workers.push(staff);
                            }
                        },
                        error: function () {
                            console.log("error")
                        }
                    })
                }
            }
        })
    </script>

</body>
</html>